html {
    scroll-behavior: smooth;
}



/*-------------------------------------------*/
/*                  headline                 */
/*-------------------------------------------*/

#breakfast_page .headline {
    display: flex;
    flex-direction: column;
    color: var(--black);
    text-align: center;
    justify-content: center;
    text-align: center;
    padding: 9% 9%;
}


#breakfast_page .headline h1 {
    color: var(--black);
    text-align: center;
}


/*-------------------------------------------*/
/*                   sorting                 */
/*-------------------------------------------*/
section.filter-and-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4% 7%;
}

select#sort {
    border-radius: 10px;
    border: none;
    border: solid 1px var(--black);
    padding: 4px;
}


hr {
    border: 0.01px solid rgba(0, 0, 0, 0.09);
    margin-top: 12px;
}

/*-------------------------------------------*/
/*                    filter                 */
/*-------------------------------------------*/
i.fa-solid.fa-filter::before {
    font-size: 20px;
}

#advanced-filter__content {
    position: absolute;
    background: var(--offwhite);
    z-index: 40;
    left: 0;
    right: 0;
    top: 0;
    padding: 5%;
    box-shadow: var(--box-shadow);
}

#advanced-filter__content p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.advanced-filter__close {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
}

.advanced-filter__close h3 {
    width: 100%;
    text-align: center;
    padding: unset
}

i.fa-solid.fa-xmark {
    align-self: center;
    cursor: pointer;
    font-size: 20px;
}

.advanced-filter__categories {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.advanced-filter__category {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.advanced-filter__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6px;
}

.show-results,
.advanced-filter__buttons button {
    padding: 1.5%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6e8b48, #6e8b48, #8aa961, #6e8b48);
    border-radius: 50px;
    transition: all .4s ease-in-out;
    align-self: flex-end;
    min-width: 85px;
    font-size: 11px;
    border: transparent solid 2px;

}

.show-results:hover,
.advanced-filter__buttons button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out
}

button.show-results {
    width: 100%;
    padding: 10px 0;
    margin-top: 25px;
}

.active {
    border: var(--blue) solid 2px !important;
    background-color: var(--blue) !important;
    background-image: unset !important;
}

/*-------------------------------------------*/
/*                    LISTVIEW               */
/*-------------------------------------------*/
.recipes-grid__recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 26px;
    justify-items: center;
    padding-top: 40px;

}

.recipes-grid__recipe {
    max-height: 515px;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    overflow: hidden;
}


/* i.fa-solid.fa-plus {
    position: absolute;
    color: white;
    z-index: 1;
} */

.recipe__top {
    height: auto;
    width: 100%;
    position: relative;
    height: 215px;
    overflow: hidden;
}

.recipe__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
}

.recipe__image img {
    display: block;
    /* filter: none;
    height: inherit;
    max-width: 100%;
    width: inherit; */
    overflow: hidden;
    border-radius: 10px 10px 0 0;

}

.recipe__overlay {
    background: rgba(47, 47, 47, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10px 10px 0 0;

}

.recipe__like-and-plus {
    position: relative;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    z-index: 2;
}

.recipe__likes {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

i.fa-solid.fa-plus {
    position: absolute;
    left: 10px;
    top: 10px;
}

.recipe__bottom {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
    background-color: var(--white);
}

.recipe__text {
    text-align: start;
}

.recipe__bottom button {
    width: 50%;
    padding: 3.2%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6e8b48, #6e8b48, #8aa961, #6e8b48);
    border-radius: 50px;
    transition: all .4s ease-in-out;
    align-self: flex-end;
}

.recipe__bottom button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out
}

.recipes-grid__recipe h4 {
    font-weight: 700;
}

/*-------------------------------------------*/
/*            category belt menu             */
/*-------------------------------------------*/

.category-belt {
    border-radius: 0;
    margin: 0 -20px;
    position: relative;
    overflow-x: auto;
    left: 0;
    max-width: 80%;
    margin: auto;
}

.category-belt__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px 0 20px;
    max-height: 515px;
    overflow-y: hidden;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.category-belt__items h3 {
    text-align: center;
    font: var(--header4);
    font-weight: 700;
    padding-top: 1%;
}

.category-belt__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-belt__item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--yellow);
    overflow: hidden;
    background: var(--blue);
}

.category-belt__item img:hover {
    opacity: 90%;
}



/*-------------------------------------------*/
/*                 media query               */
/*-------------------------------------------*/
@media only screen and (min-width: 768px) {
    .category-belt {
        display: flex;
        position: unset;
        overflow-x: none;
        justify-content: center;
    }

    section.filter-and-sort {
        padding: 1% 7%;
    }

    #advanced-filter__content {
        right: 35%;
        padding: 2% 5%;
        border-radius: 10px 0 10px 0;

    }
}

@media only screen and (min-width: 1024px) {
    .category-belt {
        width: none;
        max-width: unset;
    }

    #breakfast_page .headline {
        padding: 4% 9%;
    }

    section.filter-and-sort {
        padding: 0% 7%;
    }

    .carousel-belt__items {
        gap: 25px;
    }

    #breakfast_page #main {
        max-width: 70%;
    }

    #advanced-filter__content {
        right: 53%;
        padding: 2% 5%;
    }
}

@media only screen and (min-width: 1440px) {
    .category-belt__items {
        margin-bottom: 1%;
    }

    .category-belt__item {
        min-width: 130px;
    }

    #advanced-filter__content {
        right: 65%;
        padding: 1% 3%;
    }
}