html {
    scroll-behavior: smooth;
}



/*-------------------------------------------*/
/*                  headline                 */
/*-------------------------------------------*/

#breakfast_page .headline {
    display: flex;
    flex-direction: column;
    color: var(--black);
    text-align: center;
    justify-content: center;
    text-align: center;
    padding: 9% 9%;
}


#breakfast_page .headline h1 {
    color: var(--black);
    text-align: center;
}


/*-------------------------------------------*/
/*                   sorting                 */
/*-------------------------------------------*/
section.filter-and-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4% 7%;
}

select#sort {
    border-radius: 10px;
    border: none;
    border: solid 1px var(--black);
    padding: 4px;
}


hr {
    border: 0.01px solid rgba(0, 0, 0, 0.09);
    margin-top: 12px;
}

/*-------------------------------------------*/
/*                    filter                 */
/*-------------------------------------------*/
i.fa-solid.fa-filter::before {
    font-size: 20px;
}

/*-------------------------------------------*/
/*            category belt menu             */
/*-------------------------------------------*/

.category-belt {
    border-radius: 0;
    margin: 0 -20px;
    position: relative;
    overflow-x: auto;
    left: 0;
    max-width: 80%;
    margin: auto;
}

.category-belt__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px 0 20px;
    max-height: 515px;
    overflow-y: hidden;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.category-belt__items h3 {
    text-align: center;
    font: var(--header4);
    font-weight: 700;
    padding-top: 1%;
}

.category-belt__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-belt__item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--yellow);
    overflow: hidden;
    background: var(--blue);
}

.category-belt__item img:hover {
    opacity: 90%;
}



/*-------------------------------------------*/
/*                 media query               */
/*-------------------------------------------*/
@media only screen and (min-width: 768px) {
    .category-belt {
        display: flex;
        position: unset;
        overflow-x: none;
        justify-content: center;
    }

    section.filter-and-sort {
        padding: 1% 7%;
    }


}

@media only screen and (min-width: 1024px) {
    .category-belt {
        width: none;
        max-width: unset;
    }

    #breakfast_page .headline {
        padding: 4% 9%;
    }

    section.filter-and-sort {
        padding: 0% 7%;
    }

    .carousel-belt__items {
        gap: 25px;
    }

    #breakfast_page #main {
        max-width: 70%;
    }
}

@media only screen and (min-width: 1440px) {
    .category-belt__items {
        margin-bottom: 1%;
    }

    .category-belt__item {
        min-width: 130px;
    }
}