@import url("../styles/style.css");

#body-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-modal {
    background-color: var(--offwhite);
    border: 5px solid var(--blue);
    width: 80%;
    max-height: 90%;
    border-radius: 10px;
    padding: 5% 10%;
    overflow-y: scroll;
}

.popup-modal .close-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.popup-modal .close-button-container .close-button {
    font-size: x-large;
}

.popup-modal fieldset {
    display: flex;
    flex-direction: column;
} 

.popup-modal h2 {
    text-align: center;
}

.input-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.input-container input {
    margin-top: 2%;
    padding: 3.2%;
    border-radius: 50px;
    border: 0.5px solid var(--blue);
    background-color: var(--lightgrayInput);
}

.input-container textarea {
    margin-top: 2%;
    padding: 3.2%;
    border-radius: 10px;
    border: 0.5px solid var(--blue);
    background-color: var(--lightgrayInput);
}

.modal-submit-button {
    display: inline-block;
    margin: 10% 0 5% 0;
    width: 50%;
    padding: 3.2%;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6e8b48, #6e8b48, #8aa961, #6e8b48);
    border-radius: 50px;
    align-self: center;
}

.modal-submit-button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out
}

.modal-submit-button input {
    font-weight: 600;
    color: var(--white);
}

.after-form-div {
    text-align: center;
    margin-top: 15%; 
}

.input-container a, .after-form-div a {
    text-decoration: underline;
    cursor: pointer;
}

#logo_image-popupmodal {
    display: none;
}

.delete-account-link {
    font: var(--inputcaption);
    text-decoration: underline;
    text-align: center;
    margin-bottom: 2%;
}

/*******Tablet*********/

@media only screen and (min-width: 768px) {

    .after-form-div {
        margin-top: 10%; 
    }

}

/***********Desktop*************/

@media only screen and (min-width: 1024px) {

    .popup-modal {
        padding: 0;
    }

    .close-button-container{
        padding: 2% 4% 0 0;
    }

    .popup-modal section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .popup-modal fieldset {
        border-right: solid 0.5px var(--black);
    } 

    .popup-modal h2 {
        text-align: center;
    }

    .input-container {
        margin-top: 4%;
        align-self: center;
        width: 70%;
    }

    .input-container label {
        width: 100%;
    }

    .input-container input {
        width: 50%;
        margin-top: 0.5%;
        width: 100%;
    }

    .modal-submit-button {
        margin: 5% 0 5% 0;        
    }

    .delete-account-link {
        margin-bottom: 5%;
    }

    .popup-modal hr {
        display: none;
    }

    .after-form-div {
        align-self: center;
        padding-bottom: 10%;
    }

    #logo_image-popupmodal {
        display: unset;
        width: 50%;
        margin-bottom: 10%;
    }

}