@import url("../styles/style.css");

main#main {
    padding: 5%;
    max-width: 1200px;
}

/*-------------------------------------------*/
/*                   recipe                  */
/*-------------------------------------------*/
#single-recipe {
    padding: 5%;
    border-radius: 10px;
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.single-recipe__information {
    display: flex;
    flex-direction: row;
    max-height: 200px;
}

.image-container__like-and-plus {
    position: absolute;
    z-index: 2;
    right: 10px;
    color: var(--white);
    display: flex;
    gap: 10px;
    top: 5px;
    width: 100%;
    cursor: pointer;
}

.image-container__like {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 5px;
}

i.fa-solid.fa-plus {
    position: absolute;
    left: 25px;
}


.single-recipe__image-container {
    position: relative;
}

.single-recipe__image-container img {
    border-radius: 10px;
}

.single-recipe__information-left {
    display: flex;
    flex: 1 1 60%;
    flex-direction: column;
}

.single-recipe__information-left h1 {
    color: var(--black);
    padding-bottom: 1px;
}

.single-recipe__portions input {
    border: solid 1px var(--black);
    max-width: 20%;
    padding: 3px;
    background: var(--white);
}

.single-recipe__portions {
    margin-top: 30px;
}

.single-recipe__portions label {
    font: var(--header4);
}

.single-recipe__information-right {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    position: relative;
}

.single-recipe__share-recipe {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 9px;
    align-items: center;
    z-index: 3;
}


i.fa-brands.fa-facebook.review {
    color: #3b5998;
    cursor: pointer;
}

i.fa-brands.fa-pinterest.review {
    color: #c8232c;
    cursor: pointer;
}

i.fa-brands.fa-twitter.review {
    color: #00acee;
    cursor: pointer;
}

i.fa-brands.fa-instagram.review {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--white);
    cursor: pointer;
}

i.fa-solid.fa-print.review {
    color: var(--black);
    cursor: pointer;
}

.single-recipe__ingredients p,
.single-recipe__directions p {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
}

.single-recipe__directions,
#single-recipe__reviews-section,
.single-recipe__ingredients {
    margin-top: 40px;
}


.single-recipe__plus-clicked {
    background: var(--offwhite);
    box-shadow: var(--box-shadow);
    padding: 3px;
    position: absolute;
    bottom: la;
    z-index: 4;
    left: 0;
    /* right: 0; */
    top: 0;
    bottom: 50%;
    padding: 3%;
    max-width: 300px;
    min-height: 400px;
}

.single-recipe__close {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.plus-clicked__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.plus-clicked__content i.fa-solid.fa-xmark {
    top: 10px;
    position: absolute;
    right: 10px;
}

.collection {
    padding: 5%;
    background: var(--green);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.plus-clicked__content h5 {
    color: var(--white);
}

#search-for-collection {
    border: solid 1px;
    padding: 3%;
    background: var(--white);
    border-radius: 10px;
    margin-top: 20px;
}

/*-------------------------------------------*/
/*                read reviews               */
/*-------------------------------------------*/

.single-recipe__reviews {
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;
}


.reviews__profile-image {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reviews__profile-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.reviews__ratings-by a {
    text-decoration: underline;
    cursor: pointer;
}

.reviews__ratings-by p {
    font-weight: 700;
}

.stars .fa-star-sharp {
    color: black;
    border: red solid 2px;
    font-size: 20px;
}

section.single-recipe__reviews-section {
    position: relative;
}

.single-recipe__reviews-left {
    display: flex;
    gap: 15px;
    flex-direction: row;
    background: white;
    padding: 16px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.reviews__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews__ratings-by {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reviews__text i.fa-solid.fa-star {
    color: var(--yellow);
}



/*-------------------------------------------*/
/*               make review                 */
/*-------------------------------------------*/
.single-recipe__review-recipe {
    background: var(--white);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

textarea {
    padding: 10px;
    resize: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}

.single-recipe__review-recipe label {
    font: var(--bodytext);
}

.review-recipe__submit-button {
    width: 50%;
    padding: 3.2%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6e8b48, #6e8b48, #8aa961, #6e8b48);
    border-radius: 50px;
    transition: all .4s ease-in-out;
    align-self: center;
    margin-top: 20px;
}


.review-recipe__submit-button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out
}

.review-recipe__stars i {
    font-size: 30px;
    cursor: pointer;
}


/*-------------------------------------------*/
/*               media query                 */
/*-------------------------------------------*/
@media only screen and (min-width: 758px) {

    .single-recipe__share-recipe a,
    .single-recipe__share-recipe button {
        font-size: 30px;
    }


    .single-recipe__portions input {
        max-width: 10%;
    }

    main#main {
        padding: 2% 15%;
    }

    #single-recipe {
        position: relative;
        border-radius: 10px;
    }
}



@media only screen and (min-width: 1024px) {

    main#main {
        padding: 5%;
    }
}