@import url("../styles/style.css");

#submit-recipe__page main {
    padding: 9% 9%;
}

.input-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.input-container input {
    margin-top: 2%;
    padding: 3.2%;
    border-radius: 50px;
    border: 0.5px solid var(--blue);
    background-color: var(--lightgrayInput);
    max-width: 100%;
}

.input-container textarea {
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 3.2%;
    border-radius: 10px;
    border: 0.5px solid var(--blue);
    background-color: var(--lightgrayInput);
}

.submit-recipe-ingredients-inputs, .submit-recipe-ingredients-add-new-ingredient {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.submit-recipe-ingredients-add-new-ingredient {
    margin-top: 5%;
}

.input-container #numberPortion, .input-container #numberTime, .input-container #txtDifficulty {
    width: 50%;
}

.submit-recipe-ingredients-inputs input:first-of-type {
    width: 20%;
}

.submit-recipe-button {
    display: inline-block;
    margin: 5% 0 5% 0;
    width: 50%;
    padding: 3.2%;
    cursor: pointer;
    text-align: center;
    background-size: 300% 100%;
    background-image: linear-gradient(to right, #6e8b48, #6e8b48, #8aa961, #6e8b48);
    border-radius: 50px;
    align-self: center;
}

.submit-recipe-button input {
    font-weight: 600;
    color: var(--white);
}

.submit-recipe-button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out
}

/*---------Tablet--------*/
@media only screen and (min-width: 768px) {
    
    .input-container {
        margin-top: 5%;
    }

}

/*--------Desktop------*/
@media only screen and (min-width: 1024px) {

    #submit-recipe__page main {
        padding: 5% 0 2% 0;
        width: 60%;
    }

    .submit-recipe-information-section fieldset {
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 10%; 
    }

    .input-container {
        margin-top: 5%;
    }

}

